@font-face {
  font-family: "Rezvan";
  font-weight: 900;
  src: local("Rezvan"), url(./assets/fonts/Rezvan.ttf) format("opentype");
}

@font-face {
  font-family: "Rezvan-fat";
  font-weight: 900;
  src: local("Rezvan-fat"),
    url(./assets/fonts/Rezvan-fat.ttf) format("opentype");
}
